<div class="container my-5" >
    <h1>
        Students Details
    </h1>

    <table class="table" *ngIf="Students && Students.length > 0">
        <thead>
            <tr>
            <th>Id </th>
            <th>Name</th>
            <th>Email</th>
            
            <th>Phone</th>
            
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor="let student of Students">
                <td>{{student.id }}</td>
                <td>{{student.fName }}</td>
                <td>{{student.email}}</td>
                
                <td>{{student.phone}}</td>
                
            </tr>
        </tbody>
    </table>

    <p *ngIf="!Students || Students.length <= 0"> No Students details found!!!</p>

</div>
